@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  height: 100%;
}

h1 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 700;
  margin-left: -2px;
}

.navbar {
  padding: 20px;
}

.register {
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 40px;
}

.hero-img img {
  width: 100%;
}

.hero button {
  background-color: black;
  padding: 15px 30px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 1px black solid;
}

.hero button:hover {
  background-color: white;
  color: black;
}

.hero h2 {
  margin: 40px 0;
  line-height: 1.5;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.clients img {
  height: 100%;
}

.show {
  display: flex !important;
  flex-direction: column;
}

@media (max-width: 650px) {
  nav, .right-nav {
    display: none;
  }

  .hero {
    display: grid;
    gap: 40px;
  }

  .hero-left {
    text-align: center;
    padding: 0 20px;
  }

  .hero-img {
    grid-row: 1;
  }

  h1 {
    font-size: 35px;
  }

  .clients img {
    width: 20%;
  }
}

@media (min-width: 650px) {
  nav a {
    font-size: 12px;
  }
  
  .mobile-nav {
    display: none;
  }

  .left-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .left-nav img {
    cursor: pointer;
  }

  .right-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .features-dropdown, .company-dropdown {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px lightgrey;
    margin-top: 15px;
    background-color: white;
  }

  .features-dropdown {
    margin-left: -25px;
  }

  .features-dropdown a, .company-dropdown a {
    padding: 10px;
  }

  .dropdown-option:hover {
    background-color: lightgrey;
  }
  
  h1 {
    font-size: 70px;
  }

  .outer-container {
    display: flex;
    justify-content: center;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 50px;
    max-width: 1300px;
    justify-content: space-between;
  }

  .hero-left {
    width: 39%;
  }

  .hero-img {
    width: 40%;
    display: flex;
    justify-content: end;
  }

}
